@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Redacted+Script&display=swap');

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    @apply relative bg-white text-gray-900;
    font-family: 'Orbitron', sans-serif;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Orbitron', sans-serif;
    @apply font-bold;
  }
}

@layer components {
  .logo {
    @apply absolute h-24 right-2.5 top-2.5;
  }

  .img-land {
    @apply block w-[60vw] my-2.5 mx-auto;
  }

  .shadow {
    font-family: 'Shadows Into Light Two', serif;
  }

  .redact {
    font-family: 'Redacted Script', serif;
    @apply text-5xl;
  }

  .container {
    @apply max-w-4xl mx-auto my-2.5;
  }
}

