@font-face {
    font-family: 'Shadow';
    font-style: normal;
    src: url("../fonts/Shadows_Into_Light_Two/ShadowsIntoLightTwo-Regular.ttf") format('truetype');
}

@layer base {
    body {
        @apply relative;
    }
}

@layer components {
    .logo {
        @apply absolute h-24 right-2.5 top-2.5;
    }

    .img-land {
        @apply block w-[60vw] my-2.5 mx-auto;
    }

    .shadow {
        @apply font-serif;
        font-family: Shadow, serif;
    }

    .redact {
        @apply text-5xl font-serif;
        font-family: 'Redacted Script', serif;
    }

    .container {
        @apply max-w-4xl mx-auto my-2.5;
    }
}

